html{ box-sizing: border-box;}
body{
  margin:0;
  padding:0;
  min-height:100vh;
  background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg");
}
.work{color:purple;
  text-align: center;
  align-items: center;
  margin-top: 250px;
}
#contact{color:red;
  font-size: 1.5rem;
  margin-top: 40px;
  text-align: Center;
  align-items: Center;
}
.contact{color:purple;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  font-family: serif;
  margin-top: 100px;}
  
  .icon{ display: inline-block;
    word-spacing: 15px;
  }
  #boast{ color:red;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }
    
  #next{color:gold;
    border:none;
    background-color:#D31F96;
    height:30px;
    width: 60px;
    text-align: center;
    align-items: center;
    margin-top: 300px;
    }
    
    
    
     @media(min-width:768px) { body{
  font-size: 2.5rem;
  justify-content: space-around; }
    }
    