html{ box-sizing: border-box;}
body{
  margin:0;
  padding:0;
  min-height:100vh;
  background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg");
}
  
  .firstext{
   color:purple;
    padding-left: 0px;
    font-family: cursive;
    text-align: center;
    padding-left: 40px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C43CE7;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: inline block;
}

#openBtn {
    font-size: 10px;
    cursor: pointer;
    background-color: #A519C5;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 0px;
    margin-top:0px;
 }
 #about{
   text-align: center;
   align-items: center;
 flex-direction: column;
 font-family: serif;
   
 
 }
 #myname{font-size: 2.5rem;
   color:purple;
   
}
 #note{font-size: 1rem;
   color:purple;
   margin-top: -15px;
   
   }
   
  .whatsapp{ background-color:#1DA86E;
    border-radius:10px;
    align-items:center;
    cursor: pointer;
    border: none;
    height: 50px;
    width:200px;
  }
 
 
 
 
 
 @media(min-width:768px) { body{
  font-size: 2.5rem;
  justify-content: space-around; }
    }
    
  